body{
    background: #349;
    font-family: sans-serif;

}

h1{
    color: #fff;

}
.text-center{
    text-align:center ;
}
.login {
    padding: 1em;
    margin: 2em auto;
    width: 17cm;
    background: #fff;
    border-radius: 3px;
}

label{
    font-size: 10pt;
    color: #555;


}
.form-control{
    padding: 8px; 
    width: 95%;
    background: #d4d3d3;
    border: 0;
    font-size: 10pt;
    margin: 6px 0;

}
.btn-login{
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
    margin: 20px 0;
}